meta(charset='utf-8')
title Shortcut Ninja
link(href='/css/default.css' rel='stylesheet')
link(href='/js/jquery-ui-1.12.1/jquery-ui.css' rel='stylesheet')
script(src="/js/jquery-1.11.1.min.js")
script(src='/js/jquery-ui-1.12.1/jquery-ui.js')
script(src="/js/hotkeys.min.js")
script(src="/js/default.js")