---------------
CREATE AND EDIT
---------------
Show Intention Actions ⌥⏎
Basic Code Completion ⌃Space
Smart Code Completion ⌃⇧Space
Type Name Completion Complete Statement Parameter Information ⌃⌥Space
Quick Definition ⇧⌘⏎
Quick/External Documentation ⌘P
Generate Code ⌥Space
Override/Implement Members F1 / ⇧F1
Surround With... ⌘N
Comment with Line/Block Comm ⌃O / ⌃I
Extend/Shrink Selection ⌥⌘T
Context Info ⌘/ / ⌥⌘/
Optimize Imports ⌥↑ / ⌥↓ ⌃⇧Q
Auto-Indent Lines ⌃⌥O
Cut/Copy/Paste ⌃⌥I
Copy Document Path ⌘X / ⌘C / ⌘V ⇧⌘C
Paste from Clipboard History ⇧⌘V
Duplicate Current Line or Selection ⌘D
Move Line Up/Down ⇧⌘↑ / ⇧⌘↓ ⌘⌫
Delete Line at Caret Join/Split Line ⌃⇧J / ⌘⏎
Start New Line ⇧⏎
Toggle Case ⇧⌘U
Expand/Collapse Code Block ⌘ / ⌘-
Expand/Collapse All ⌘ / ⌘-
Save All ⌘S

























