---------------
CREATE AND EDIT
---------------
⌥⏎ Show Intention Actions
⌃Space Basic Code Completion
⌃⇧Space Smart Code Completion
⌃⌥Space Type Name Completion
⇧⌘⏎ Complete Statement
⌘P Parameter Information
⌥Space Quick Definition
F1 Quick/External Documentation
⌘N Generate Code
⌃O Override/Implement Members
⌥⌘T Surround With...
⌘/ Comment with Line/Block Comment
⌥↑ Extend/Shrink Selection
⌃⇧Q Context Info
⌃⌥O Optimize Imports
⌃⌥I Auto-Indent Lines
⌘X Cut/Copy/Paste
⇧⌘C Copy Document Path
⇧⌘V Paste from Clipboard History
⌘D Duplicate Current Line or Selection
⇧⌘↑ Move Line Up/Down
⌘⌫ Delete Line at Caret
⌃⇧J Join/Split Line
⇧⏎ Start New Line
⇧⌘U Toggle Case
⌘ / ⌘- Expand/Collapse Code Block
⌘ / ⌘- Expand/Collapse All
⌘S Save All
-------------------
ANALYZE AND EXPLORE
-------------------
Show Error Description ⌘F1
Next Highlighted Error F2
Run Inspection by Name... ⌥⇧⌘I
Type Hierarchy ⌃H
Method Hierarchy ⇧⌘H
Call Hierarchy ⌃⌥H

















































