-------
Editing
-------
Ctrl+Space Basic code completion (the name of any class, method or variable)
Ctrl+Shift+Space Smart code completion ( lters the list of methods and variables by expected type)
Ctrl+Shift+Enter Complete statement
Ctrl+P Parameter info (within method call arguments)
Ctrl+Q Quick documentation lookup
Shift+F1 External Doc
Ctrl+mouseovercode Brief Info
Ctrl+F1 Show descriptions of error or warning at caret
Alt+Insert Generate code... (Getters, Setters, Constructors, hashCode/equals, toString)
Ctrl+O Override methods
Ctrl+I Implement methods
Ctrl+Alt+T Surround with... (if..else, try..catch, for, synchronized, etc.)
Ctrl+/ Comment/uncomment with line comment
Ctrl+Shift+/ Comment/uncomment with block comment
Ctrl+W Select successively increasing code blocks
Ctrl+Shift+W Decrease current selection to previous state
Alt+Q Context info
Alt+Enter Show intention actions and quick-fixes
Ctrl+Alt+L Reformat code
Ctrl+Alt+O Optimize imports
Ctrl+Alt+I Auto-indent line(s)
Tab Indent/unindent selected lines
Ctrl+X Cut current line or selected block to clipboard
Ctrl+C Copy current line or selected block to clipboard
Ctrl+V Paste from clipboard
Ctrl+Shift+V Paste from recent buffers...
Ctrl+D Duplicate current line or selected block
Ctrl+Y Delete line at caret
Ctrl+Shift+J Smart line join
Ctrl+Enter Smart line split
Shift+Enter Start new line
Ctrl+Shift+U Toggle case for word at caret or selected block
Ctrl+Shift+] Select till code block end/start
Ctrl+Backspace Delete to word end/start
Ctrl+NumPad+/- Expand/collapse code block
Ctrl+Shift+NumPad+ Expand all
Ctrl+Shift+NumPad- Collapse all
Ctrl+F4 Close active editor tab









































