extends layout/default

block head
    link(href='/css/dojo_new.css' rel='stylesheet')

block content
    | 训练场名称：
    input(type="text", name="dojo_name")&attributes({value: dojo.dojo_name})
    select(name="os")
        option(value="windows")&attributes({selected: dojo.os == 'windows' ? 'true' : null}) windows
        option(value="macos")&attributes({selected: dojo.os == 'macos' ? 'true' : null}) macos
    input(type="hidden", name = "id", value = id)
    hr
    .dojo_levels
        each item, index in dojo.dojo_levels
            .dojo_level
                | 关卡名称:
                input(type="text" name="level_name")&attributes({value: item.level_name})
                | 关卡等级：
                input(type="text" name="level_value")&attributes({value: item.level_value})
                |
                if index == (dojo.dojo_levels.length - 1)
                    a(class="add_level" href="#")
                        button 添加等级
                else
                    a(class="remove_level" href="#")
                        button 删除等级
    hr
    p.keys ⌃ ⌘ ⎇ ⇧
    .dojo_shortcuts
        each item, index in dojo.dojo_shortcuts
            .dojo_shortcut
                | 快捷键：
                input(type="text" name="shortcut_key" class='shortcut_key')&attributes({value: item.shortcut_key})
                | 描述：
                input(type="text" name="shortcut_desc")&attributes({value: item.shortcut_desc})
                | 关卡：
                input(type="text" name="level_value")&attributes({value: item.level_value})
                if index == (dojo.dojo_shortcuts.length - 1)
                    a(class="add_shortcut" href="#")
                        button 添加快捷键
                else
                    a(class="remove_shortcut" href="#")
                        button 删除快捷键

    a(href='javascript:void(0)' id='save')
        button 保存
    a(href='/' id='cancel')
        button 返回
    #dialog.none(title="按键录制")
        p.
            请按键...
block scripts
    script.
        function assemble(jQElement, callback) {
            $(jQElement).each(function () {
                var data = {}
                $(this).find("[name]").each(function () {
                    var name = $(this).attr("name");
                    var val = $(this).val();
                    if (val) {
                        data[name] = val;
                    }
                })
                callback.call(this, data)
            });
        }
        $(function () {
            var os = '#{dojo.os}';

            function cos(os){
                change_os(os, function () {
                    $(".keys").text(CTRL_KEY + ' ' + ALT_KEY + ' ' + SHIFT_KEY + ' ' + META_KEY)
                });
            }

            cos(os);
            $("[name=os]").change(function(){
                cos($(this).val());
            });

            var focus_input = null;
            function rebind() {
                $("[name='shortcut_key']").focus(function (e) {
                    $(this).blur()
                    $("#dialog p").text("请按键...")
                    $("#dialog").dialog({
                        dialogClass: 'no-close',
                        modal: true
                    })
                    focus_input = $(this)
                })
            }

            rebind();

            $(document).bindkeys(function(keys){
                if(focus_input){
                    $("#dialog p").text(keys)
                    $("#dialog").dialog("close")
                    focus_input.val(keys);
                }
                focus_input = null;
            })

            var dojo_shortcut = $($('.dojo_shortcut')[$('.dojo_shortcut').length - 1]).clone();
            var dojo_level = $($(".dojo_level")[$(".dojo_level").length - 1]).clone();
            dojo_shortcut.find('[name]').val('');
            dojo_level.find('[name]').val('')
            $(".remove_shortcut").click(function () {
                $(this).closest(".dojo_shortcut").remove();
            });
            $(".remove_level").click(function () {
                $(this).closest(".dojo_level").remove();
            });
            $(".add_shortcut").click(function () {
                (function doIt() {
                    $(".dojo_shortcuts .add_shortcut").addClass('remove_shortcut').removeClass('add_shortcut')
                        .unbind().click(function () {
                        $(this).closest(".dojo_shortcut").remove();
                    }).find('button').text('删除快捷键');
                    dojo_shortcut.clone().appendTo(".dojo_shortcuts").find('.add_shortcut').click(doIt);
                    rebind();
                })()
            });
            $(".add_level").click(function () {
                (function doIt() {
                    $(".dojo_levels .add_level").addClass('remove_level').removeClass('add_level')
                        .unbind().click(function () {
                        $(this).closest(".dojo_level").remove();
                    }).find('button').text('删除等级');
                    dojo_level.clone().appendTo(".dojo_levels").find('.add_level').click(doIt);
                })()
            });
            $("#save").click(function () {
                var data = {
                    dojo_id: $("[name=id]").val(),
                    dojo_name: $("[name=dojo_name]").val(),
                    os: $("[name=os]").val(),
                    dojo_shortcuts: [],
                    dojo_levels: []
                }
                assemble(".dojo_shortcut", function (d) {
                    data.dojo_shortcuts.push(d)
                });

                assemble(".dojo_level", function (d) {
                    data.dojo_levels.push(d)
                });

                $.ajax({
                    url: "/dojo/new",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (data) {
                        alert('成功')
                    },
                    error: function () {
                        alert('失败')
                    }
                });
            })
        })
