extends layout/default

block head
    link(href='/css/dojo_new.css' rel='stylesheet')

block content
    | 训练场名称：
    input(type="text", name="dojo_name")&attributes({value: dojo.dojo_name})
    select(name="os")
        option(value="windows")&attributes({selected: dojo.os == 'windows' ? 'true' : null}) windows
        option(value="macos")&attributes({selected: dojo.os == 'macos' ? 'true' : null}) macos
    input(type="hidden", name = "id", value = id)
    hr
    .dojo_levels
        each item, index in dojo.dojo_levels
            fieldset.dojo_level(data-dojo_level=JSON.stringify(item))
                legend 等级#{item.level_value}
                | 关卡名称:
                input(type="text" name="level_name")&attributes({value: item.level_name})
                input(type="hidden" name="level_value")&attributes({value: item.level_value})
                |
                if index == (dojo.dojo_levels.length - 1)
                    a(class="add_level" href="#")
                        button 添加等级
                else
                    a(class="remove_level" href="#")
                        button 删除等级
                p.keys ⌃ ⌘ ⎇ ⇧
                    .dojo_shortcuts
                        each item_sc, index in item.dojo_shortcuts
                            .dojo_shortcut
                                | 快捷键：
                                input(type="text" name="shortcut_key" class='shortcut_key')&attributes({value: item_sc.shortcut_key})
                                | 描述：
                                input(type="text" name="shortcut_desc")&attributes({value: item_sc.shortcut_desc})
                                input(type="hidden" name="level_value")&attributes({value: item_sc.level_value})
                                if index == (item.dojo_shortcuts.length - 1)
                                    a(class="remove_shortcut" href="#")
                                        button 删除快捷键
                                    a(class="add_shortcut" href="#")
                                        button 添加快捷键
                                else
                                    a(class="remove_shortcut" href="#")
                                        button 删除快捷键

    a(href='javascript:void(0)' id='save')
        button 保存
    a(href='/' id='cancel')
        button 返回
    #dialog.none(title="按键录制")
        p.
            请按键...
block scripts
    script.
        function assemble(jQElement, callback) {
            $(jQElement).each(function () {
                var data = {}
                $(this).children("[name]").each(function () {
                    var name = $(this).attr("name");
                    var val = $(this).val();
                    if (val) {
                        data[name] = val;
                    }
                })
                callback.call(this, data)
            });
        }

        function init(){
            $.prototype.dojo_level = function(){
                return $(this).data("dojo_level")
            }
        }

        $(function () {

            init();

            var dojo_shortcut = $($('.dojo_shortcut')[$('.dojo_shortcut').length - 1]).clone();
            var dojo_level = $($(".dojo_level")[$(".dojo_level").length - 1]).clone();

            var os = '#{dojo.os}';

            function cos(os){
                change_os(os, function () {
                    $(".keys").text(CTRL_KEY + ' ' + ALT_KEY + ' ' + SHIFT_KEY + ' ' + META_KEY)
                });
            }

            cos(os);
            $("[name=os]").change(function(){
                cos($(this).val());
            });

            var focus_input = null;
            function rebind(context) {
                $("[name='shortcut_key']").unbind("focus").focus(function (e) {
                    $(this).blur()
                    $("#dialog p").text("请按键...")
                    $("#dialog").dialog({
                        dialogClass: 'no-close',
                        modal: true
                    })
                    focus_input = $(this)
                })
                $(".remove_shortcut").unbind("click").click(function () {
                    var scs = $(this).closest(".dojo_shortcuts");
                    if(scs.find(".remove_shortcut").length == 1){
                        alert('最后一个不能删除')
                        return;
                    }
                    $(this).closest(".dojo_shortcut").remove();
                    rebind(scs);
                });
                $(".add_shortcut").unbind("click").click(function () {
                    var scs = $(this).closest(".dojo_shortcuts");
                    scs.find(".add_shortcut").remove();
                    dojo_shortcut.clone().appendTo(scs)
                    rebind(scs);
                });
                if(context) {
                    var $last_sc = context.find(".dojo_shortcut:last");
                    $last_sc.find(".add_shortcut,.remove_shortcut").remove()
                    var clone = dojo_shortcut.find(".remove_shortcut,.add_shortcut").clone();
                    clone.each(function () {
                        $last_sc.append($(this))
                    })
                    rebind();
                }
            }

            rebind();

            $(document).bindkeys(function(keys){
                if(focus_input){
                    $("#dialog p").text(keys)
                    $("#dialog").dialog("close")
                    focus_input.val(keys);
                }
                focus_input = null;
            })

            var Dojo_levels = {
                get_all : function(){
                    return $(".dojo_levels .dojo_level")
                },
                recalc : function(){
                    var i = 0;
                    this.get_all().find("legend").each(function(){
                        console.log(i)
                        $(this).text('等级' + (i + 1)).closest("fieldset").find("[name=level_value]").val(i + 1)
                        i++;
                    })

                }
            }



            dojo_shortcut.find('[name]').val('');
            dojo_level.find('[name]').val('')

            $(".remove_level").click(function () {
                $(this).closest(".dojo_level").remove();
                Dojo_levels.recalc();
            });
            $(".add_level").click(function () {
                (function doIt() {
                    $(".dojo_levels .add_level").addClass('remove_level').removeClass('add_level')
                        .unbind().click(function () {
                        $(this).closest(".dojo_level").remove();
                        Dojo_levels.recalc();
                    }).find('button').text('删除等级');
                    var $clone = dojo_level.clone()
                    $clone.find('.add_level').click(doIt);
                    var level_number = parseInt($(".dojo_level:last legend").text().match(/\d+$/)[0]);
                    $clone.find("legend").text('等级' + (level_number + 1)).closest("fieldset").
                    find("[name=level_value]").val(level_number + 1)
                    $clone.appendTo(".dojo_levels").data("dojo_level");
                    Dojo_levels.recalc();
                })()
            });
            $("#save").click(function () {
                var data = {
                    dojo_id: $("[name=id]").val(),
                    dojo_name: $("[name=dojo_name]").val(),
                    os: $("[name=os]").val(),
                    dojo_levels: []
                }

                assemble(".dojo_level", function (d) {
                    d.dojo_shortcuts = []
                    assemble($(this).find(".dojo_shortcut"), function (dd) {
                        d.dojo_shortcuts.push(dd)
                    });
                    data.dojo_levels.push(d)
                });

                $.ajax({
                    url: "/dojo/new",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (data) {
                        alert('成功')
                    },
                    error: function () {
                        alert('失败')
                    }
                });
            })
        })
